@{
    ViewBag.Title = "Welcome Home!";
}
<h2>@ViewBag.Title</h2>

<br />
<br />


<img src="~/Images/pritzlaff-lofts-milwaukee-wi-living-room.jpg" height="500" width="1000" />

<br />
<br />

<h3> A Rich History!</h3>

<br />
<h4>
    John Pritzlaff Hardware Company was founded by John C. Pritzlaff in 1850. This became not only the largest hardware company
    Milwaukee but also eventually became one of the largest wholesale hardware companies and iron supply house in the entire Northwest.
    The different factory, storage and shipping buildings have all been given a new life and been turned into apartments and
    large event centers!
</h4>

<br />
<img src="~/Images/oldarial.png" height="500" width="1000" />
<br />
<img src="~/Images/oldpritzlaff.jpg" height="500" width="1000" />
<br />
<img src="~/Images/Pritzlaff Wedding.jpg" height="500" width="1000" />

<br />
<h3> Access to All Your Favorites!</h3>
<h4>
    Nestled into the 3rd Ward in downtown Milwaukee, Pritzlaff is in the middle of all the action. Just nearby you have the Public Market, hundreds of
    restaurants and bars, and dozens of theatres and event centers. Get used to living in luxary and safety while still having the
    freedom to explore and see the city.
</h4>
<br />
<img src="~/Images/3rdwardwatershot.jpg" height="500" width="1000" />
<br />
<img src="~/Images/MPM.jpg" height="500" width="1000" />
<br />
<img src="~/Images/Third_Ward_MKEa.jpg" height="500" width="1000" />
<br />
<img src="~/Images/bradford_beach.jpg" height="500" width="1000"  />