@{
    ViewBag.Title = "Attractions Near You";
}
<h2>@ViewBag.Title</h2>

@model IEnumerable<string>
<br />

<p>
    Local Link with Reviews Coming Soon!
</p>

<table>
    <tr>
        <th>Restaurant Name</th>
        <th>Rating of Restaurant</th>
    </tr>

    <tr>
        <td>
            @foreach (var item in ViewBag.CompanyName)
            {
                <h4>@Html.DisplayFor(modelItem => item)</h4>
            }
        </td>
        <td>
            @foreach (var item in ViewBag.Ratings)
            {
                <p>
                    <h4>@Html.DisplayFor(modelItem => item)</h4>
                </p>
            }
        </td>
    </tr>
</table>

@*<script>
    function initMap() {
        var myLatLng = { lat: 48.584715, lng: 7.748556 };

         Create a map object and specify the DOM element
         for display.
        var map = new google.maps.Map(document.getElementById('carte'), {
            center: myLatLng,
            zoom: 14
        });

         Create a marker and set its position.

        @foreach(var item in Model){
             <text>
                var marker = new google.maps.Marker({
                  map: map,
                  position: { lat: @item, lng: @item },
                  title: 'Hello World!'
                });
            </text>
        }

    }</script>*@