@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

@*<body background="~/Images/PritzlaffSide.png" />*@


<address>
    313 N Plankinton <br />
    Milwaukee, WI 53719<br />
    <abbr title="Phone">Phone:</abbr>
    608-603-6571
</address>

<address>
    <strong>Leasing Agent:</strong>   <a href="mailto:Bock@Gmail.com">Bock@Gmail.com</a><br />

</address>


