@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pritzlaff Lofts</h1>
    <h2>Where historical meets luxary, and where character is defined by no limit!</h2>
    @*<p style=" background-image:url('../../Images/Pritzlaff.jpg')"> </p>*@
 
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Events At Pritzlaff</h2>
        <p> Dive into our sister site and see how your potential new home makes an impact in the community and local residents.  </p>
        <p><a class="btn btn-default" href="http://www.pritzlaffevents.com/">Explore &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Follow These Pro Tips</h2>
        <p>Time Magazine sends expert Korin Miller to find out everything you need to know before moving into your first apartment! </p>
        <p><a class="btn btn-default" href="http://time.com/4217610/renting-first-apartment/">Explore &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Why Take It From Us?</h2>
        <p>You dont have to take it from us. Find out why all these people have to say about moving to Milwaukee!</p>
        <p><a class="btn btn-default" href="https://realestate.usnews.com/places/wisconsin/milwaukee">Explore &raquo;</a></p>
    </div>
</div>