@model AptManager.Models.Visitor

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Thank You For Signing Up!</h1>
    <br />
    <p class="lead"> We will now recieve notification that you have signed up. Once it has been reviewed under our system then we will make sure we to get back to you!</p>

</div>

