
@{
    ViewBag.Title = "View";
}

<h2>Pritzlaff Maintenance Portal</h2>

<button type="button" onclick=@Html.ActionLink(" ", "RedirectToOrderIndex") My Work Orders</button>
<button type="button" onclick=@Html.ActionLink(" ", "Edit", "Workers")Edit My Information</button>
