@model AptManager.Models.Tenant
@{
    ViewBag.Title = "Charge";
}


<br />
<br />
<br>
<h2>Charge</h2>

<form action="/Payment/Charge" method="POST">
    <article>
        <label>
            <dt>
                @Html.DisplayNameFor(model => model.BalanceDue)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BalanceDue)
            </dd>
        </label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@ViewBag.StripePublishKey"
            data-locale="auto"
            data-description="Rent Charge"
            data-amount="@Html.DisplayFor(model => model.BalanceDue)">
    </script>
</form>