@model AptManager.Models.Tenant

@{
    ViewBag.Title = "Pay Balance";
}



<br />
<br />
<br />

<h2> Pay Your Current Balance</h2>


<p>
    @Html.ActionLink("Back", "Details", new { id = Model.TenantId })

</p>
