@model AptManager.Models.Tenant

@{
    ViewBag.Title = "Your Account Details";
}
<br />
<br />
<br />

<h3> Thank You for submitting your ticket. Ticket submission was succesful and will be recieved. Please return to your account home.   </h3>

<br />
<br />
<br />



 
   

<p>
    @Html.ActionLink("Back", "Details", new { id = Model.TenantId }) 

</p>
